ROUTER_WS_HOST= <- arcane route webscoket host ()
AUTH_TOKEN= <- token for authentication on route websocket 
MAKER_ADDRESS= <- maker address
MAKER_PK= <- maker private key
SIGN_HOST?= <- rust signature service host (default http://localhost:8000)
EXPIRE_BLOCK_NUMBER?= <- block number for expire order (default 100)
```